body {
    background-color: seashell;
    overflow-x: hidden; 
}
.amx-panelPage{
    background-color: seashell;
}

.center {
    display: block;
    text-align: center;
}

.infopanel{
    margin: 2% 3%;
}

#logbar {
    padding:10px;
    background-color: red;
}

#outmsg {
    text-align: center;
    font-size: 18pt;
    font-family: verdana;
    color: white;
}

#status {
    padding: 2%;
    width:30%;
}

#phone {
    z-index: -99;
    width:30%;
    padding: 2%;
}