@charset "UTF-8";
body {
    overflow-x: hidden; 
}


.center {
    display: block;
    text-align: center;
}

.infopanel{
    margin: 2% 3%;
}

#logbar {
    padding:10px;
    background-color: red;
}

#outmsg {
    text-align: center;
    font-size: 18pt;
    font-family: verdana;
    color: Red;
}

#status {
    padding: 2%;
    width:30%;
}

#phone {
    z-index: -99;
    width:30%;
    padding: 2%;
}

